* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    background: #08080c;
    color: #ffffff;

    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}